{% load static i18n %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        {% spaceless %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>{% block head_title %}Diskette{% endblock head_title %}</title>
            {% block head_styles %}{% endblock head_styles %}
        {% endspaceless %}
    </head>

    <body>
        {% spaceless %}
            <div id="page-body" class="d-grid gap-3 p-3">
                <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="/">Diskette</a>

                    </div>
                </nav>
                <div id="page-content" class="container-xxl">
                    {% block content %}{% endblock content %}
                </div>
            </div>
            {% block javascript %}{% endblock javascript %}
        {% endspaceless %}
    </body>
</html>

